.main {
  height: auto;
  width: 100vw;
  background-color: #fff971;
  position: absolute;

  h1,
  p {
    color: #181818;
    font-family: GG Studio;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .main-text {
    font-size: 90px;

    padding-top: 133px;
    margin-left: 102px;
    margin-right: 395px;
    margin-bottom: 166px;
    width: 943px;
    height: 603px;
  }

  .top-events,
  .videos {
    font-size: 50px;

    margin-left: 102px;
    margin-bottom: 92px;
  }

  video {
    background-color: #181818;
    width: 1700px;
    height: 835px;

    margin-left: 102px;
    margin-bottom: 160px;
  }
}
