@use "@abstracts" as *;

.main {
  .main-text {
    padding-top: 133px;
    margin-left: 102px;
    margin-right: 395px;
    margin-bottom: 166px;
    width: 943px;
    height: 603px;

    .text__item {
      font-size: 90px;
      color: $black_color;
      font-family: GG Studio;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .top-events,
  .videos {
    margin-left: 102px;
  }

  .top-events {
    .events__text {
      font-size: 50px;
      margin-bottom: 92px;

      color: $black_color;
      font-family: GG Studio;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .videos {
    .videos__text {
      font-size: 50px;
      margin-bottom: 92px;

      color: $black_color;
      font-family: GG Studio;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  video {
    background-color: #181818;
    width: 1580px;
    height: 835px;

    margin-left: 102px;
    margin-bottom: 160px;
  }

  .line {
    width: 100%;
    height: 31px;

    margin-bottom: 161px;
    .line__item {
      stroke: #181818;
      stroke-dasharray: 40 30;
      stroke-width: 1.5px;
    }
  }

  .propose-event {
    background: #181818;
    width: 1700px;
    height: 1117px;

    display: flex;
    flex-direction: row;

    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;

    .propose__title {
      color: #fff;
      font-family: GG Studio;
      font-size: 90px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      width: 546.623px;
      height: 463px;

      margin-left: 100px;
      margin-top: 410px;
    }

    .propose__inputs {
      display: flex;
      flex-direction: column;

      margin-top: 164px;
      margin-bottom: 164px;
      margin-left: 140px;

      .input__item {
        margin-top: 26px;
        padding-top: 5px;
        width: 800px;
        height: 55px;
        text-indent: 16px;
        border-style: none;

        &::placeholder {
          color: #181818;
          font-family: Grtsk Tera;
          font-size: 19px;
          font-style: italic;
          font-weight: 400;
          line-height: normal;
        }
      }

      .describe {
        margin-top: 26px;
        width: 800px;
        height: 125px;
        text-indent: 16px;
        padding-bottom: 50px;
        border-style: none;
      }

      .label__item {
        margin-top: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 804px;
        height: 62px;
        background: #fff;

        .label__text {
          color: #181818;
          font-family: Grtsk Tera;
          font-size: 19px;
          font-style: italic;
          font-weight: 400;
          line-height: normal;

          margin-bottom: 5px;
          margin-left: 18px;
        }

        & input {
          display: none;
        }

        .download-icon {
          width: 35.089px;
          height: 32px;
          margin-right: 21px;
          margin-bottom: 3px;
        }
      }

      .submit__button {
        border-style: none;
        background-color: #fff;
        margin-top: 60px;
        height: 77px;
        width: 800px;

        transition: all 0.3s;

        .button__text {
          color: #181818;
          text-align: center;
          font-family: Grtsk Tera B;
          font-size: 21px;
          font-style: italic;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }

        &:hover {
          background-color: lightgray;
        }
      }
    }
  }

  .about {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 180px;

    .about__image {
      width: 723px;
      height: 523px;

      margin-left: 267px;
    }

    .about__text {
      color: #181818;
      font-family: Grtsk Tera;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 614px;

      margin-left: 100px;
      margin-top: 100px;
    }
  }

  .subscribe {
    display: flex;
    flex-direction: column;

    margin-left: 640px;
    margin-bottom: 165px;

    .subscribe__title {
      text-align: center;
      font-size: 50px;
      width: 635px;
      font-family: GG Studio;
    }
    .subscribe__inputs {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      margin-left: 25px;

      .input__item {
        margin-bottom: 26px;
        padding-top: 5px;
        width: 580px;
        height: 55px;
        text-indent: 16px;
        border-style: none;

        &::placeholder {
          color: #181818;
          font-family: Grtsk Tera;
          font-size: 19px;
          font-style: italic;
          font-weight: 400;
          line-height: normal;
        }
      }

      .submit__button {
        border-style: none;
        background-color: #fff;
        height: 56px;
        width: 584px;

        transition: all 0.3s;

        .button__text {
          color: #181818;
          text-align: center;
          font-family: Grtsk Tera B;
          font-size: 21px;
          font-style: italic;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }

        &:hover {
          background-color: lightgray;
        }
      }
    }
  }
}
