footer {
  display: flex;
  justify-content: space-between;

  .logo {
    margin-left: 100px;

    .logo__text {
      margin-top: 70px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    margin-top: 60px;
    margin-right: 100px;

    .nav__item {
      margin-bottom: 30px;
    }
  }

  .filter {
    display: flex;
    flex-direction: column;

    margin-top: 60px;
    margin-right: 200px;

    .filter__item {
      display: flex;
      justify-content: space-between;

      margin-bottom: 30px;

      .arrow {
        margin-left: 25px;
        margin-top: 5px;
      }
    }
  }
}
