@font-face {
  font-family: "Grtsk Tera";
  src: url(@fonts/GrtskTera-Regular.ttf);
}

@font-face {
  font-family: "Grtsk Tera EL";
  src: url(@fonts/GrtskTera-Extralight.ttf);
}

@font-face {
  font-family: "GG Studio";
  src: url(@fonts//GG-Studio-Bold.otf);
}

@font-face {
  font-family: "Grtsk Tera BI";
  src: url(@fonts/GrtskTera-BoldItalic.ttf);
}

@font-face {
  font-family: "Grtsk Tera B";
  src: url(@fonts/GrtskTera-Bold.ttf);
}

body,
p {
  margin: 0;
}
