@media (max-width: 1400px) {
  .filter__item,
  .item-events,
  .item-propose {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100vw;
    background: #181818;

    position: fixed;
    top: 0;
    z-index: 100;

    nav {
      margin-top: 33px;

      .nav__item {
        color: #fff;
        font-family: Grtsk Tera;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 50px;
        margin-left: 50px;

        transition: 0.3s all;

        &:hover {
          color: #fff971;
        }
      }
    }

    .burger-menu {
      margin-top: 20px;

      .menu {
        display: none;
        position: absolute;
        right: 0;
        width: 500px;
        height: 416px;
        background: #181818;
      }

      &:hover {
        .filter__item,
        .item-events,
        .item-propose {
          display: flex;
          position: absolute;
        }
        .menu {
          position: absolute;
          display: flex;
        }
      }

      .menu-button {
        margin-right: 50px;
        width: 40px;
        height: 40px;
        stroke: white;

        transition: 0.3s all;

        &:hover {
          stroke: #fff971;
        }
      }

      .filter {
        margin-top: 33px;

        .filter__item {
          color: #fff;
          font-family: Grtsk Tera;
          font-size: 15px;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          text-decoration: none;
          background-color: #181818;
          border: none;
          margin-right: 60px;

          transition: all 0.3s ease-in 0s;

          .arrow-svg {
            width: 18px;
            height: 12px;
            margin-left: 12px;
            transition: 0.3s all;
            transform-origin: center;
            fill: white;
          }

          .menu-description,
          .menu-title,
          .menu-location {
            display: none;
            position: absolute;
            width: 200px;
            right: 0px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }

          &:hover {
            color: #fff971;

            .arrow-svg {
              transform: rotate(90deg);
              fill: #fff971;
            }

            .menu-description,
            .menu-title,
            .menu-location {
              display: flex;
              flex-direction: column;
              position: absolute;
            }
          }
        }
        .burger-menu {
          display: none;
        }
      }
      .burger-menu {
        display: none;
      }
    }
  }
}

@media (min-width: 1401px) and (max-width: 10000px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100vw;
    background: #181818;

    position: fixed;
    top: 0;
    z-index: 100;

    nav {
      margin-top: 33px;

      .nav__item {
        color: #fff;
        font-family: Grtsk Tera;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 50px;
        margin-left: 50px;

        transition: 0.3s all;

        &:hover {
          color: #fff971;
        }
      }
    }

    .filter {
      margin-top: 33px;

      .filter__item {
        color: #fff;
        font-family: Grtsk Tera;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #181818;
        border: none;
        margin-right: 60px;

        transition: all 0.3s ease-in 0s;

        .arrow-svg {
          width: 18px;
          height: 12px;
          margin-left: 12px;
          transition: 0.3s all;
          transform-origin: center;
          fill: white;
        }

        .menu-description,
        .menu-title,
        .menu-location {
          display: none;
          position: absolute;
          width: 200px;
          right: 0px;
          background-color: #fff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        &:hover {
          color: #fff971;

          .arrow-svg {
            transform: rotate(90deg);
            fill: #fff971;
          }

          .menu-description,
          .menu-title,
          .menu-location {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
    .burger-menu {
      display: none;
    }
  }
}
