@use "@abstracts" as *;

body,
p {
  margin: 0;
}

body {
  height: auto;
  width: 100vw;
  background-color: $yellow_color;
}

header {
  width: 100vw;
  background: $black_color;

  position: fixed;
  top: 0;
  z-index: 100;
}

footer {
  width: 100vw;
  background: $black_color;
}
