@use "@abstracts" as *;

@font-face {
  font-family: "Grtsk Tera";
  src: url(@fonts/GrtskTera-Regular.ttf);
}

@font-face {
  font-family: "Grtsk Tera EL";
  src: url(@fonts/GrtskTera-Extralight.ttf);
}

@font-face {
  font-family: "GG Studio";
  src: url(@fonts//GG-Studio-Bold.otf);
}

@font-face {
  font-family: "Grtsk Tera BI";
  src: url(@fonts/GrtskTera-BoldItalic.ttf);
}

@font-face {
  font-family: "Grtsk Tera B";
  src: url(@fonts/GrtskTera-Bold.ttf);
}

header {
  nav,
  .filter {
    .nav__item,
    .filter__item {
      color: $white_color;
      font-family: Grtsk Tera;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;

      transition: 0.3s all;

      &:hover {
        color: $yellow_color;
      }
    }
  }
}

footer {
  .logo {
    .logo__text {
      color: $white_color;
      font-family: Grtsk Tera B;
      font-size: 90px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  nav,
  .filter {
    .nav__item,
    .filter__item {
      color: $white_color;
      font-family: Grtsk Tera;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;

      transition: 0.3s all;

      &:hover {
        color: #fff971;
      }
    }
  }
}
