header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 3em;
}

header .filter {
  margin-bottom: 5px;
}

.nav {
  display: flex;
}

.nav__item {
  margin-top: 0.6em;
}

.filter {
  display: flex;
}

.filter__item {
  width: 120px;
  margin-left: 10px;
}

.menu-description,
.menu-title,
.menu-location {
  display: none;
  position: absolute;
  width: 200px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-location {
  right: 190px;
}

.menu-title {
  right: 60px;
}

.filter__item:hover .menu-description,
.filter__item:hover .menu-title,
.filter__item:hover .menu-location {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.menu__item {
  margin-top: 30px;
  height: 20px;
  width: 60px;
}
